
// Import all the default styles, variables, mixins and typography

// Color Palette

$nav-background:rgb(32, 32, 32);
$video-background:#202020;
$accent-color:#FFDF6C;
$accent-filter:invert(92%) sepia(22%) saturate(1148%) hue-rotate(335deg) brightness(102%) contrast(102%);

// Global Fonts
$global-text:#202020;
$global-contrast:#FFFFFF;

// Form Elements
$button-fill:#ffdf6c;
$button-text:#3f3f3f;
$avatar-fill:#E1E1E1;
$text-label: #AFAFAF;
$text-field-border: #E1E1E1;
$text-field-background: #FAFAFA;
$divider:#E1E1E1;
$active-input:#ffdf6c;
$button-hover:#3f3f3f;

//Delete Buttons
$delete-button: #FAFAFA;
$delete-text:#AFAFAF;
$hover-delete-fill:#AFAFAF;
$hover-delete-text:#3f3f3f;

/*======================= Margins and Padding ======================= */

// The outside padding used for alignment for all elements 

// Corresponds to 16px @ 320px screen width
$mobile-padding:5%;

// Corresponds to 180px @ 1440px screen width
$desktop-padding:12.5%;

/*======================= Media Breakpoints ======================= */

// Changes to tablet format >=768px
@mixin tablet{
    @media (min-width:768px){
        @content;
    }
}

// Changes to desktop format >=1200px
@mixin desktop{
    @media (min-width:1280px){
        @content;
    }
}

/*======================= Elements and Styling ======================= */

//Creates a text input element with default styling including specified paddinging and bottom margin
@mixin input-text ($padding-top, $padding-bottom, $bottom-margin){
    border-radius:4px;
    border:2px solid $text-field-border;
    background-color:$text-field-background;
    padding:$padding-top 0 $padding-bottom 16px;
    margin-bottom: $bottom-margin;
    &:focus{
        outline:none;
        border-color:$active-input;
    }
}

//Creates a button element with default styling that has a specified width and bottom margin
@mixin input-button($width,$margin-bottom){
    border-radius:4px;
    background-color: $button-fill;
    font-size:16px;
    color:$button-text;
    padding:16px 0;
    border:none;
    cursor: pointer;
    margin-bottom:$margin-bottom;
    width:$width;
    border:2px solid transparent;
    &:focus{
        outline:none;
        border-color:$active-input;
    }
    &:hover{
        background-color:$button-hover;
    }
}

//Centers and element vertically and horizontally
@mixin center(){
    display:flex;
    justify-content:center;
    align-items:center;
}

//Builds an avatar using default styling with a specified top margin (default:0px)
@mixin avatar($margin-top:0){
    margin-top:$margin-top;
    // background-color:$avatar-fill;
    background-size:cover;
    border-radius:50%;
    min-width:48px;
    width:48px;
    height:48px;
}

.upload{
    // apply the default padding for a section
    margin-top:170px;

    @include tablet{
        margin-top:80px;
    }

    &__file{

        &-button{
            @include input-button(100%, 10px);
            background-color:black;
            color:$accent-color;
            padding-left:10px;
            padding-right:10px;
        }
        &-wrapper{
            width:100%;
            padding:50px;
            box-sizing:border-box;
        }
        &-text{
            text-align:center;
            font-size:14px;
        }
        &-success{
            font-weight:bold;
            background-color:rgba(255, 223, 108,0.5);
            padding:10px;
            border-radius: 4px;
        }
    }

    &__title{
        padding:48px 0 20px 0;
    }

    &__upper{
        @include desktop{
            display:flex;
            border-top: 1px solid $divider;
            padding-top:40px;
        }
    }

    &__files{
        display:flex;
        flex-direction:column;
        align-items: center;
        @include tablet{
            flex-direction:row;
            justify-content: center;
        }
        @include desktop{
            width:140%;
        }
    }

    // wrapper created around image to include the title for alignment
    &__thumb-wrapper{
        width:98%;
        height:54vw;
        // padding-bottom:32px;
        margin-bottom:20px;
        border-radius:4px;
        border: 2px $accent-color solid;
        background-size:cover;
        background-position:center;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        max-height:223px;
        max-width: 364px;

        @include tablet{
            width:45%;
            height:24vw;
            margin:20px;
            margin-top:0;
        }
        @include desktop{
            margin-right:24px;
            max-height:205px;
            max-width:344px;
            min-height:205px;
            min-width:280px;
        }
        
    }

    &__inputs{
        display:flex;
        flex-direction:column;
        width:100%;
    }
    &__label{
        //apply the default global styles for labels

    }
    &__loading{
        width:50%;
    }
    &__form{
        display:flex;
        flex-direction:column;
    }
    &__video-title{
         // create an input box with specified top/bottom padding and bottom margin
        @include input-text (16px, 16px, 24px);
    }
    &__video-description{
        // create an input box with specified top/bottom padding and bottom margin
        @include input-text(16px, 91px, 32px);
        // apply default styling for textarea elements
        padding-right:16px;

        @include tablet{
            // height:1rem;
            margin-bottom:40px;
        }
        @include desktop{
            padding-bottom:53px;
        }
    }
   
    // section allows for the flexing of the publish and cancel buttons
    &__lower{
        display:flex;
        flex-direction:column;
        align-items:center;
        @include tablet{
            flex-direction:row;
            justify-content:flex-end;
            align-items:baseline;
            border-top:1px solid $divider;
            padding-top:40px;
        }
    }

    &__publish{
        @include input-button(100%,24px);
        @include tablet{
            width:21%;
            margin-left:48px;
        }
        &:hover{
            color:white;
            opacity:0.6;
            border:2px solid $accent-color;
        }
    }
    &__cancel{
        // move the cancel link to the left of the publish button for devices >=tablet size
        // order:-1;
        width:100%;
        font-size:16px;
        text-align:center;
        margin-bottom:24px;
        color:$global-text;

        @include tablet{
            order:-1;
            text-align:right;
        }
    }

}